@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;1,200&family=Patrick+Hand&family=Poppins:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'mattone';
  src: url("assets/Mattone/desktop/Mattone-150.otf");
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: (1fr)[9];
      grid-template-rows: repeat(9, 1fr);
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

div {
  border: 1px solid black;
}

.one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  -ms-grid-row: 1;
  grid-row: 1;
  text-align: center;
}

.one .title {
  font-size: 22px;
  cursor: pointer;
  font-weight: 800;
  position: relative;
  text-align: center;
  top: 20px;
}

.one .burger-menu {
  width: 35px;
  height: 4px;
  position: relative;
  right: 30px;
  float: right;
  background-color: black;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.one .burger-menu::after {
  content: '';
  position: absolute;
  background-color: black;
  width: 35px;
  height: 4px;
  left: 0px;
  top: 10px;
}

.two {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2/9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
}

.two .text {
  display: block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 75px;
  white-space: nowrap;
  font-family: 'mattone';
}

.three {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2/9;
  background-image: url("assets/love-dress-white-04.jpeg");
  background-size: cover;
}

.four {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2/9;
  position: relative;
}

.four .other-image {
  position: absolute;
  width: 125%;
  border: 2px solid black;
  height: 30%;
  right: 0px;
  top: 60px;
  background-image: url("assets/love-dress-white-02.jpeg");
  background-size: cover;
}

.four .order {
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60%;
  background-image: url("assets/trait-site-ben.svg");
  background-size: cover;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.four .order span {
  font-size: 20px;
  margin-top: 30px;
  margin-right: 10px;
  white-space: nowrap;
}

.four .order .arrow {
  height: 1px;
  width: 50px;
  background-color: black;
  position: relative;
  margin-top: 30px;
}

.four .order .arrow::after {
  content: "";
  height: 5px;
  width: 5px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  position: absolute;
  right: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: -3px;
}

.five {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.five .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-size: 18px;
  word-spacing: 30px;
}

.five .links .link {
  cursor: pointer;
}

.six {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.six .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}

.six .signature {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */